name: Label External PRs
 
on:
  pull_request_target:
    branches:
    - develop
    types:
    - opened
    - reopened
    - synchronize
 
permissions:
  contents: read
  issues: write
  pull-requests: write
 
jobs:
  label-external:
    runs-on: ubuntu-latest
 
    steps:
    - name: Checkout base repository
      uses: actions/checkout@v4
 
    - name: Check if author is internal
      id: check_author
      run: |
          AUTHOR="${{ github.event.pull_request.user.login }}"
          echo "Author: $AUTHOR"
 
          INTERNAL_USERS=$(jq -r '.[].login' cluster-toolkit-writers.json)
 
          if echo "$INTERNAL_USERS" | grep -qx "$AUTHOR"; then
            echo "internal=true" >> $GITHUB_OUTPUT
          else
            echo "internal=false" >> $GITHUB_OUTPUT
          fi
 
    - name: Add external label
      if: steps.check_author.outputs.internal == 'false'
      uses: actions-ecosystem/action-add-labels@v1
      with:
        labels: external
  
